@inherits LayoutComponentBase
@using DynamoLeagueBlazor.Client.Shared.NavMenu
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Services

<MudLayout>
    <MudIcon Icon=@Icons.Material.Outlined.SportsFootball Style="position:absolute; z-index:-1; height: 100vh; width: 100%; opacity: 5%;" Color=Color.Primary></MudIcon>
    <MudAppBar Color=Color.Transparent Elevation=0>
        <a href="/" class="d-flex">
            <img src="logo.PNG" height="50" />
        </a>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick=@(e => OnOpenChanged()) Size=Size.Large />
    </MudAppBar>
    <NavMenu Open=_showNavMenu OnOpenChanged=OnOpenChanged />
    <MudMainContent>
        <MudContainer MaxWidth=MaxWidth.Large Style="padding-bottom: 95px;">
            <UpdateAvailableDetector />
            <ErrorBoundary @ref=_errorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context=ex>
                    <MudAlert Severity=Severity.Error>
                        @GetErrorMessage(ex)
                    </MudAlert>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
    <MudHidden Breakpoint=Breakpoint.LgAndUp>
        <MudAppBar Elevation=3 Bottom=true Class="d-flex align-center justify-center" Color="appBarColor">
            <MudToolBar>
                <MudIconButton Icon=@Icons.Material.Outlined.SupervisedUserCircle Link="/teams" Size=Size.Large Color=buttonColor />
                <MudIconButton Icon=@Icons.Material.Outlined.People Link="/players" Size=Size.Large Color=buttonColor />
                <MudIconButton Icon=@Icons.Material.Outlined.MoneyOff Link="/fines" Size=Size.Large Color=buttonColor />
                <MudIconButton Icon=@Icons.Material.Outlined.FreeCancellation Link="/freeagents" Size=Size.Large Color=buttonColor />
            </MudToolBar>
        </MudAppBar>
    </MudHidden>    
</MudLayout>

<MudDialogProvider CloseButton=true/>
<MudBreakpointProvider />
<MudSnackbarProvider/>
<MudThemeProvider @ref=_mudThemeProvider Theme=_baseTheme IsDarkMode=_isDarkMode />
