<BasicComponent ParentComponentState="ComponentStateManager.GetCurrentState()">
    <TableBase Items="Players" Title="Player List">
        <HeaderColumns>
            <th>Name</th>
        </HeaderColumns>
        <BodyColumns Context="player">
            <td>@player.Name</td>
        </BodyColumns>
    </TableBase>
</BasicComponent>
