@page "/"

<Title>
    @_title
</Title>

<MudGrid>
    <MudItem md=6 xs=12>
        <TopOffenders />
    </MudItem>
    <MudItem md=6 xs=12>
        <TopTeamFines />
    </MudItem>
    <MudItem xs=12>
        <ChangeList />
    </MudItem>
</MudGrid>