<aside class="text-center">
    <img class="img-fluid" src="@ImageUrl" />
    <hr class="mb-0" />
    <h1 class="overflow-hidden text-secondary">@Title</h1>
    <hr class="mt-0" />
    <p>
        @DetailsContent
    </p>
    <hr class="mt-0" />
    @if (LinksContent != null)
    {
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @LinksContent
        </div>
    }
</aside>

@code {
    [Parameter]
    public RenderFragment DetailsContent { get; set; }

    [Parameter]
    public RenderFragment<INavItem> LinksContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    protected override void OnParametersSet()
    {
        DetailsContent = DetailsContent ?? throw new ArgumentNullException(nameof(DetailsContent));
        Title = Title ?? throw new ArgumentNullException(nameof(Title));
        ImageUrl = ImageUrl ?? throw new ArgumentNullException(nameof(ImageUrl));
    }
}