.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.01);
}

.grow:hover .mud-card {
    box-shadow: 0px 0px 10px 0px rgba(89,74,226,0.55);
}

html, body {
    height: 100vh;
}

#app {
    height: 100%;
}

#loading {
    background: #32333d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#loading > img {
    width: 80%;
    height: auto;
    max-width: 400px;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text);
    color: rgba(89,74,226,0.55);
    font-weight: bold;
    font-size: 60px;
    font-family: "Graduate", sans-serif;
}

/* MudBlazor overrides */

.mud-card-header .mud-card-header-actions {
    align-self: initial !important;
}

.mud-nav-link-text {
    font-family: "Graduate", sans-serif;
    text-transform: uppercase;
}

.mud-table-cell {
    border-bottom: 0px !important;
}

.mud-table-striped .mud-table-container .mud-table-root .mud-table-body .mud-table-row:nth-of-type(odd) {
    background-color: var(--mud-palette-table-lines) !important;
}

.mud-xs-table .mud-table-row {
    display: table-row;
}