@page "/admin/users"
@using DynamoLeagueBlazor.Shared.Infastructure.Identity
@using static DynamoLeagueBlazor.Shared.Features.Admin.Users.UserListResult

<Title>
    @_title
</Title>

<PageHeader>
    @_title
</PageHeader>

<MudTable Items="_result.Users" Dense=true Loading=_loading Filter="new Func<UserItem, bool>(FilterFunc)" Context=userItem Striped=true> 
    <ToolBarContent>
        <MudTextField @bind-Value="_searchValue" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Actions</MudTh>
        <MudTh>Team</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Confirmed</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel=Actions>
            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Small" OnClick="(e) => OpenDeleteUserDialog(userItem.Id)" />
        </MudTd>
        <MudTd DataLabel=Team>@userItem.Team</MudTd>
        <MudTd DataLabel=Email>@userItem.Email</MudTd>
        <MudTd DataLabel=Confirmed>
            @if(userItem.EmailConfirmed)
            {
                <MudIcon Icon=@Icons.Outlined.CheckCircle Color=Color.Success />
            }
            else
            {
                <MudIcon Icon=@Icons.Outlined.Pending Color=Color.Info />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>