<div class="d-flex align-center">
    <Avatar Image=@ImageUrl Class="mr-1"></Avatar>
    @Name
</div>

@code {
    [Parameter, EditorRequired] public string Name { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string ImageUrl { get; set; } = string.Empty;
}
