<div class="d-flex align-center">
    <MudAvatar Image=@HeadShotUrl Class="mr-1"></MudAvatar>
    @Name
</div>

@code {
    [Parameter, EditorRequired] public string Name { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string HeadShotUrl { get; set; } = string.Empty;
}
