@page "/"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<Title>
    @_title
</Title>

<h1>@_title</h1>

<MudExpansionPanels DisableBorders="true">
    <Cost />
    <Draft />
    <TradeWaiver />
    <Fines />
    <ContractsRosters />
    <RestrictedFreeAgents />
    <FranchisedPlayers />
    <TeamManagement />
    <Payouts />
    <Scoring />
</MudExpansionPanels>