@page "/rules"

<Title>
    @_title
</Title>

<PageHeader>
    @_title
</PageHeader>

<MudExpansionPanels DisableBorders="true">
    <Cost />
    <Draft />
    <TradeWaiver />
    <Fines />
    <ContractsRosters />
    <RestrictedFreeAgents />
    <FranchisedPlayers />
    <TeamManagement />
    <Payouts />
    <Scoring />
</MudExpansionPanels>