@page "/admin/startseason"

<Title>
    @_title
</Title>

<MudAlert Severity=Severity.Warning Class="mb-2">
    Clicking the below button will begin a new season - all players who are eligble to be free agents will be set to a free agent status. Proceed with caution.
</MudAlert>
<LoadingButton @bind-IsLoading="_isDisabled" Icon=@Icons.Outlined.SportsFootball Color=Color.Primary OnClick=StartSeasonAsync>
    <IsLoadingContent>
        <MudText>Start New Season</MudText>
    </IsLoadingContent>
    <ButtonContent>
        <MudText>Start New Season</MudText>
    </ButtonContent>
</LoadingButton>
