@page "/admin/startseason"

<Title>
    @_title
</Title>

<MudAlert Severity=Severity.Warning Class="mb-2">
    Clicking the below button will begin a new season. Beginning a new season includes
    <br/><br/>
    <ul>
        <li>
            - All players who are eligble to be free agents will be set to a free agent status.
        </li>
        <li>
            - All fines for the previous year will be removed.
        </li>
    </ul>
</MudAlert>
<LoadingButton @bind-IsLoading="_isDisabled" Icon=@Icons.Material.Outlined.SportsFootball Color=Color.Primary OnClick=StartSeasonAsync>
    <IsLoadingContent>
        <MudText>Starting A New Season...</MudText>
    </IsLoadingContent>
    <ButtonContent>
        <MudText>Start New Season</MudText>
    </ButtonContent>
</LoadingButton>
