@inherits LayoutComponentBase
@using DynamoLeagueBlazor.Client.Shared.NavMenu
@using MudBlazor.Services

<MudLayout>
    <ErrorBoundary @ref=_errorBoundary>
        <ChildContent>
            <MudIcon Icon=@Icons.Outlined.SportsFootball Style="position:absolute; z-index:-1; height: 100vh; width: 100%; opacity: 5%;" Color=Color.Primary></MudIcon>
            <MudBreakpointProvider OnBreakpointChanged=@((breakpoint) => IsDesktopSize(breakpoint))>
                <MudAppBar Elevation=3 Bottom=_appBarBottom>
                    <a href="/" class="d-flex">
                        <img src="logo.PNG" height="30"/>
                        <MudText Typo="Typo.h5" Class="ml-3">Fantasy Football</MudText>
                    </a>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick=@(e => OnOpenChanged()) />
                </MudAppBar>
                <NavMenu Open=_showNavMenu OnOpenChanged=OnOpenChanged/>
                <MudMainContent Class=@_mainContentPaddingTop>
                    <MudContainer MaxWidth=MaxWidth.Large>
                        @Body
                    </MudContainer>
                </MudMainContent>
            </MudBreakpointProvider>
        </ChildContent>
        <ErrorContent>
            <MudAlert Severity=Severity.Error>
                An Error Occured...
            </MudAlert>
        </ErrorContent>
    </ErrorBoundary>
    
</MudLayout>
<MudDialogProvider CloseButton=true/>

<MudBreakpointProvider />
<MudSnackbarProvider/>
<MudThemeProvider Theme=darkTheme/>

@code {
    private static string[] HeaderFontFamily = new[] { "Graduate", "cursive" };

    private MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        },
        Typography = new Typography
        {
            Default = new Default { FontFamily = new[] { "Open Sans", "sans-serif" } },
            H1 = new H1 { FontFamily = HeaderFontFamily },
            H2 = new H2 { FontFamily = HeaderFontFamily },
            H3 = new H3 { FontFamily = HeaderFontFamily },
            H4 = new H4 { FontFamily = HeaderFontFamily },
            H5 = new H5 { FontFamily = HeaderFontFamily },
            H6 = new H6 { FontFamily = HeaderFontFamily }
        }
    };

    private ErrorBoundary? _errorBoundary;
    private bool _showNavMenu;
    private bool _appBarBottom;
    private string _mainContentPaddingTop = string.Empty;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

    private void OnOpenChanged(bool open = true) => _showNavMenu = open;

    private void IsDesktopSize(Breakpoint breakPoint)
    {
        var isMobile = breakPoint < Breakpoint.Md;

        if(isMobile)
        {
            _appBarBottom = true;
            _mainContentPaddingTop = "pt-4";
        }
        else
        {
            _appBarBottom = false;
            _mainContentPaddingTop = "pt-20";
        }
    }
}
