@keyframes spin-animation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* MudBlazor overrides */

.mud-card-header .mud-card-header-actions {
    align-self: initial !important;
}