/* TODO: Add local version for offline */
@import url('https://fonts.googleapis.com/css?family=Graduate|Open+Sans:300&display=swap');

@keyframes spin-animation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.01);
}

.grow:hover .mud-card {
    box-shadow: 0px 0px 10px 0px rgba(89,74,226,0.55);
}

/* MudBlazor overrides */

.mud-card-header .mud-card-header-actions {
    align-self: initial !important;
}

.mud-nav-link-text {
    font-family: "Graduate", sans-serif;
    text-transform: uppercase;
}

html, body {
    height: 100vh;
}

#app {
    height: 100%;
}

#loading {
    background: #32333d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#loading > img {
    width: 80%;
    height: auto;
    max-width: 900px;
}

.loader {
    border: 16px solid rgba(0, 0, 0, 0.00);
    border-top: 16px solid #594ae2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}