@page "/Details/{id:int}"

<BasicComponent ParentComponentState="ComponentStateManager.GetCurrentState()">
    <div class="row">
        <div class="col-md-3">
            <AsideDetail ImageUrl="@ViewModel.TeamLogoUrl" Title="@ViewModel.TeamName">
                <p>
                    Cap Space: @ViewModel.CapSpace.ToString("C0")
                </p>
            </AsideDetail>
        </div>
        <div class="col-md-9">
            <PlayerTable TeamId="Id" />
        </div>
    </div>
</BasicComponent>


